* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: lightgrey;
    --cor1: #211985;
    --cor2: #ECBD20;
    --cor3: #ffe076;
    --cor4: #20569B;
    --cor5: #2e1ede;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: url('images/devaos40teste.png');
    background-size:  100% 200px;
    background-repeat: no-repeat;
    min-height: 150px;
    padding-top: 30px;
    text-align: center;
}

header h1 {
    color: var(--cor0);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 2px #2019853c;
}

header p {
    color: var(--cor0);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 1px 1px #2019852c;
}

nav {
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 1px 7px 7px rgba(128, 111, 58, 0.235);
    text-align: center;
}

nav a {
    color: var(--cor1);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;

}

nav a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    transition-duration: 0.5s;
}

main article {
    background-image: url('images/imagem01.jpg');
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main article h1 {
    max-width: 550px;
    color: #ffffff;
    padding: 100px 10px 20px 10px;
    margin: auto;
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 1px 1px white;
}

main article button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: var(--cor5);
    color: #ffffff;
    font-weight: 600;
    display: flex;
    margin: auto;
}

